html, body {
  /*font-family: 'Marvel', sans-serif;
  font-family: 'Play', sans-serif;*/
height: auto;
margin:0;
padding:0;
border-radius: 3px;
max-width: 1200px !important;
}
p {
margin: 0;
padding: 0;
}
h2{
z-index: 10000;
position: absolute;
color: black;
margin: -5px 0 0 -35px;
padding: 0;
}
.nav{ /*NAVIGATION*/
max-width: 1200px;
margin: 5px auto;
font-family:'Comic Sans', cursive;
}
.nav-tabs{
font-family: Bangers;
font-size: 2rem;
float:right;
border: none;
}
.nav-link{
padding-left: 10px; 
}
.nav-link:focus, .nav-link:hover, .active:link{
border: none;
}
a{
color: deepskyblue;
}
a:hover{
color: black;
}
.tab-content{ /*TAB CONTENT*/
padding:.5rem 1rem 1rem .5rem;
}
.tabs-content.active{
color: black;
} 
.show {
transition-property: background-color font-size transform color;
transition-timing-function: ease-in;
transition-duration: 3.5s;
}
.panel {
  width: 100%;
  background-color:#fff;
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
  display:inline-block;
  flex:1 1;
  margin:.25rem;
  overflow:hidden;
  position:relative;
  font-family: 'Bangers', comic-sans;
  font-size: 1.5rem;
}
.blinking{
  animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: #000; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}